body #kapa-widget-container {
    display: none !important;
}

.customContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    font-size: 20px;
    height: 70vh;
}

.customContainer iframe{
    width: 50%;
    height: calc(100% - 40px);
    margin-bottom: 20px;
    margin-top: 20px;
}
