body #kapa-widget-container {
  display: none !important;
}

.customContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  font-size: 20px;
  height: 80vh;
}

.customContainer iframe {
  width: 100%;
  height: calc(100% - 40px);
  margin-bottom: 20px;
}

@media screen and (max-width: 1024px) {
  .customContainer iframe {
    width: 100%;
  }
}
