name: Test deployment

on:
  pull_request:
    branches:
      - main
    # Review gh actions docs if you want to further define triggers, paths, etc
    # https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#on

jobs:
  test-deploy:
    name: Test deployment
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: npm

      - name: Install dependencies
        run: npm ci
      - name: Generate custom schema
        run: node scripts/generateSchema.js
        env:
          NODE_OPTIONS: "--max_old_space_size=4096"
          TRAVELGATE_API_KEY: ${{ secrets.TRAVELGATE_API_KEY }}
      - name: Generate api reference from Graphql schema
        run: npx docusaurus graphql-to-doc --force
        env:
          NODE_OPTIONS: "--max_old_space_size=4096"
          TRAVELGATE_API_KEY: ${{ secrets.TRAVELGATE_API_KEY }}
      # This step is needed because the graphql-to-doc script
      # generates a sidebar-schema file which has an invalid dirName
      - name: Copy api-sidebar-schema.dis to api/sidebar-schema.js
        run: cp api-sidebar-schema.dist api/sidebar-schema.js
      - name: Test build website
        env:
          NODE_OPTIONS: "--max_old_space_size=4096"
        run: npm run build
