name: Trigger build
on:
  schedule:
    - cron: "00 12 * * 1" # Every monday at 12:00

jobs:
  write-empty-commit:
    name: Write empty commit
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Configure git
        run: |
            git config user.name "Calin Rada [bot]"
            git config user.email "calin@travelgate.com"  

      - name: Write empty commit
        run: git commit --allow-empty -m "Trigger build" && git push origin main
